body {
  font-family: Arial, sans-serif;
}

.container {
  padding: 5px;
  border-radius: 8px;
}

.custom-nav {
  margin-bottom: 80px;
}

.custom-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.singup-content {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.names {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.main-title {
  text-align: center;
}

.gender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.terms {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: column;
}

.request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-google {
  color: white;
}
.custom-form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-buttons button {
  max-width: 120px;
  text-wrap: nowrap;
}

.custom-field {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  min-width: 100%;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.key-word {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item {
  cursor: pointer;
  flex-direction: row;
}
